<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
         </c-card-header>

      <c-card-body>
        <div class="gc gl bzy cyq">
          <div class="lv tz asb avu">
            <table class="tz vc vd">
              <thead>
                <tr>
                  <th
                    scope="col"
                    class="ac dn eg afm agc alt amk asg att aui avq awg awm ayb bek ben clr dkf"
                  >
                    Name
                  </th>
                  <th
                    scope="col"
                    class="ac dn eg md afm agc alt amk arl asg avq awg awm ayb bek ben ccv"
                  >
                    Title
                  </th>
                  <th
                    scope="col"
                    class="ac dn eg md afm agc alt amk arl asg avq awg awm ayb bek ben dal"
                  >
                    Email
                  </th>
                  <th
                    scope="col"
                    class="ac dn eg afm agc alt amk arl asg avq awg awm ayb bek ben"
                  >
                    Role
                  </th>
                  <th
                    scope="col"
                    class="ac dn eg afm agc alt amk asg ats auk bek ben clz dkm"
                  >
                    <span class="t">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Lindsay Walton
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Front-end Developer
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    lindsay.walton"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Member</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Lindsay Walton</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Courtney Henry
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">Designer</td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    courtney.henry"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Admin</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Courtney Henry</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Tom Cook
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Director of Product
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    tom.cook"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Member</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Tom Cook</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Whitney Francis
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">Copywriter</td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    whitney.francis"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Admin</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Whitney Francis</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Leonard Krasner
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Senior Designer
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    leonard.krasner"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Owner</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Leonard Krasner</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Floyd Miles
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Principal Designer
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    floyd.miles"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Member</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Floyd Miles</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Emily Selman
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    VP, User Experience
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    emily.selman"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Member</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Emily Selman</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Kristin Watson
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    VP, Human Resources
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    kristin.watson"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Admin</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Kristin Watson</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Emma Dorsey
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Senior Developer
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    emma.dorsey"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Member</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Emma Dorsey</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Alicia Bell
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Junior Copywriter
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    alicia.bell"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Admin</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Alicia Bell</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Jenny Wilson
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Studio Artist
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    jenny.wilson"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Owner</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Jenny Wilson</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Anna Roberts
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Partner, Creative
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    anna.roberts"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Member</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Anna Roberts</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Benjamin Russel
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Director, Print Operations
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    benjamin.russel"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Member</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Benjamin Russel</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="afm agb adt asi att aui awg awk ayb clr dkf">
                    Jeffrey Webb
                  </td>
                  <td class="afm agb md adt arl asi awg axx ccv">
                    Senior Art Director
                  </td>
                  <td class="afm agb md adt arl asi awg axx dal">
                    jeffrey.webb"&#64;"example.com
                  </td>
                  <td class="afm agb adt arl asi awg axx">Admin</td>
                  <td class="afm agb ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Jeffrey Webb</span></a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="adt asi att aui awg awk ayb clr dkf">
                    Kathryn Murphy
                  </td>
                  <td class="md adt arl asi awg axx ccv">
                    Associate Creative Director
                  </td>
                  <td class="md adt arl asi awg axx dal">
                    kathryn.murphy"&#64;"example.com
                  </td>
                  <td class="adt arl asi awg axx">Member</td>
                  <td class="ab adt asi ats auk avs awg awk cma dkm">
                    <a href="#" class="ayn bll"
                      >Edit<span class="t">, Kathryn Murphy</span></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
