.ma {
  display: flow-root;
}
.lm {
  margin-top: 2rem;
}
.gl {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}
.gc {
    margin-left: -1rem;
    margin-right: -1rem;
}

.avu {
    vertical-align: middle;
}
.asb {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tz {
    min-width: 100%;
}
.lv {
    display: inline-block;
}
.vc {
    border-collapse: separate;
}

.tz {
    min-width: 100%;
}
.vd {
    --tw-border-spacing-x: 0px;
    --tw-border-spacing-y: 0px;
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
}
@media (min-width: 1024px) {
  .cyq {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}
@media (min-width: 640px) {
  .bzy {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
