<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="font-[sans-serif] flex-1">
          <button type="button" class="px-5 py-2.5 flex items-center text-sm 
            tracking-wider font-semibold outline-none text-white
             bg-green-500 hover:bg-green-600 rounded ">
            Add Product
          </button>
        </div>
      </c-card-header>
      <c-card-body>

        <ag-grid-angular class="ag-theme-quartz" style="height: 500px;" [rowData]="rowData" [columnDefs]="colDefs" />
      </c-card-body>
    </c-card>

  </c-col>
</c-row>